body {
	margin: 0;
	background-color: #000;
	font-size: 14px; 
	color: #838ea7; 
	font-family: 'Lato', sans-serif; }

article {
	margin-top: 10%; }

.container {
	margin: auto;
	cursor: pointer;
	width: 300px;
	background-color: #FEFEFE;
	border-radius: 4px;
	transition: 0.20s ease-in-out;
	-ms-transition: 0.20s ease-in-out;
	-webkit-transition: 0.20s ease-in-out; }

.dropdown-mainbar {
	display: table-cell;
	text-align: center;
	padding: 16px 0 16px 0;
	width: 236px; }

.menuicon {
	display: table-cell;
	padding-left: 16px;
	width: 16px; 
	font-size: 18px;
	vertical-align: middle; }

.menuarrow {
	display: table-cell;
	padding-right: 16px;
	width: 16px; 
	font-size: 18px;
	vertical-align: middle; }
		.menuarrow i {
			transition: 0.28s ease-in-out;
			-ms-transition: 0.28s ease-in-out;
			-webkit-transition: 0.28s ease-in-out; }

.hiddencontent {
	display: none; 
	margin: 10px auto;
	width: 300px; }

.arrow-tab {
	background-color: #000; }

.arrow {
	width: 0;
	height: 0;
	margin-left: 268px;
	border-right: 9px solid transparent;
	border-left: 9px solid transparent;
	border-bottom: 9px solid #FEFEFE; }

.option {
	width: 300px;
	display: flex;
	cursor: pointer; 
	background-color: #FEFEFE; }
		.option:nth-child(2) {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px; }
		.option:last-child {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px; }

.option-left {
	height: 48px;
	width: 4px;
	margin-right: 2px; }
		.option:hover > .option-left {
			background-color: #3FA6FD; }
		.option:nth-child(2) > .option-left {
			border-top-left-radius: 4px; }
		.option:last-child > .option-left {
			border-bottom-left-radius: 4px;
			height: 49px; }

.option-center {
	padding: 16px;
	border-bottom: 1px solid #AAA;
	width: 256px; }
		.option:hover > .option-center {
			background-color: #F4F4F4; 
			color: #6d6c6c; }
		.option:last-child > .option-center {
			border-bottom: none; }

.option-right {
	width: 6px;
	height: 48px; }
		.option:hover > .option-right {
				background-color: #F4F4F4; }
		.option:nth-child(2) > .option-right {
				border-top-right-radius: 4px; }
		.option:last-child > .option-right {
				border-bottom-right-radius: 4px;
				height: 49px; }

.show {
	display: block; }

.containerActive {
	background-color: #3FA6FD;
	color: #FEFEFE; }
		.containerActive > .menuarrow i {
			transform: rotate(-180deg);
			-ms-transform: rotate(-180deg);
			-webkit-transform: rotate(-180deg);
			transition: 0.28s ease-in-out;
			-ms-transition: 0.28s ease-in-out;
			-webkit-transition: 0.28s ease-in-out; }